__pycache__/
*.py[cod]
*.pyo
*.pyd

.venv/
env/
venv/

.vscode/
.idea/

*.log
logs/
*.sqlite3
db.sqlite3
*.db

.env
.env.*

.pytest_cache/
.coverage
htmlcov/
.cache/
*.cover
*.coverage
junit-*.xml

scheduler.log

htmlcov/

*/migrations/
!*/migrations/__init__.py

